.modal-component {
  background-color: #fff;
  outline: none;
  overflow: auto;

  .modal-title {
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
  }

}