.date-picker {
  .date-input {
    width: 100%;
    position: relative;


    &__icons {
      color: #b0babf;
      position: absolute;
      right: 10px;
      top: 8px;
      display: flex;
      align-items: center;

      &__icon {
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: #787d80;
        }
      }
    }
  }

  .date-picker__calendar {
    position: absolute;

    .rc-calendar-input-wrap {
      display: none;
    }
  }
}

.rc-calendar-footer {
  display: none !important;
}
